@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');
@import "tailwindcss";


@theme {
  --color-background: #97B7E3;
  --color-main: #2F80E4;
  --color-accent: #772CA9;
  --color-black: #0A111A;
  --color-white: #DCDCDC;
  --color-main-hover: #6C99D8;
  --color-accent-hover: #481A66;
  --color-black-hover: rgba(10, 17, 26, 0.2);

  --font-main: "Pridi", sans-serif;
}

* {
    box-sizing: border-box;
}